@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Outfit', sans-serif;
}
body {
  font-family: var(--font-sans);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}